In [ ]:
def step(self, action):
    
    #get diary for gp to update
    gp_to_update = self.state[action]
    
    reward = 0
    
    gp_to_update = state[action]
    
    #if the gp is full increase reward by -1
    full_gp = gp_to_update.all()
    if full_gp:
        reward -=1
    
    #if the gp has no current appointments increase reward by -2
    new_gp = gp_to_update.eq(0).all()
    if new_gp:
        reward -=2
        
    #fill the first available appointment for the gp
    next_appt = gp_to_update.eq(0).idxmax()
    state[action][next_appt] = 1

    return state, reward
    
    REWARDS
    -1 for every appointment you double booked
    -2 for every empty doctor you added an appointment to
    -2 for every remaining appointment not booked
    +1 for every appointment booked

    done = self.num_pre_booked==0
    info = {}
    
    return state, reward, done, info

In [254]:
def step(state, action):
    
    reward = 0
    
    gp_to_update = state[action]
    
    #if the gp is full increase reward by -1
    full_gp = gp_to_update.all()
    if full_gp:
        reward -=1
    
    #if the gp has no current appointments increase reward by -2
    new_gp = gp_to_update.eq(0).all()
    if new_gp:
        reward -=2
        
    #fill the first available appointment for the gp
    next_appt = gp_to_update.eq(0).idxmax()
    state[action][next_appt] = 1

    return state, reward

In [255]:
state, reward = step(newtest, 0)

In [256]:
state

   0  1  2
0  1  1  1
1  0  1  1
2  0  0  1

In [257]:
reward

-2

In [222]:
c

False

In [223]:
reward

0

In [261]:
newtest

   0  1  2
0  0  1  1
1  0  1  1
2  0  0  1

In [268]:
newtest[2].eq(0).all()

False